<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sedario | Game: Computer</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">


    <script src="../static/js/sedario.js" type="text/javascript"></script>

  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel dark">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-5 text-center">
                  <span class="name-tag-white">{{ game.white }}</span>
                </div>
                <div class="col-sm-2 text-center">
                  <span class="vs">- vs -</span>
                </div>
                <div class="col-sm-5 text-center">
                  <span class="name-tag-black">{{ game.black }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel dark">
            <div class="panel-body text-center" id="canvas-container"></div>
            <div class="panel dark" id="game-over" style="display: none; position: absolute; top: calc(50% - 95px); left: calc(50% - 158px); opacity: 0; transition: 2s; box-shadow: 0px 0px 40px 5px black">
                <div class="panel-heading">
                  <h3 class="text-center" id="result"></h3>
                </div>
                <div class="panel-body">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-6 text-center">
                      <button class="btn btn-lg btn-success" style="font-size: 1.5em;" onclick="location.href='/play'">New Game</button>
                    </div>
                    <div class="col-xs-6 text-center">
                      <button class="btn btn-lg btn-info" style="font-size: 1.5em;" onclick="location.href='/review/{{ game.id }}'">Review</button>
                    </div>
                  </div>
                  <p id="rematch-feedback" style="margin-top: 15px; margin-bottom: 0px;"></p>
                </div>
              </div>
          </div>
        </div>
      </div>


    </div>


    {{ footer|safe }}

  </body>


  <script>

    var this_player = {% if game.white == user.username %}WHITE{% else %}BLACK{% endif %};
    var s = new State(8);
    var vs = new ViewState(s, this_player);
    vs.state.set_from_combo_moves({{ game.combo_moves }});
    vs.update_display();
    let cont = document.getElementById('canvas-container');
    cont.appendChild(vs.get_DOM());

    if (!game_over() && this_player != s.current_player) {
      comp_move();
    }

    function send_move(sq) {
      s._find_possible_moves();
      $.ajax({
        url: '/game_access',
        data: {
          'method': 'move_c',
          'id': '{{ game.id }}',
          'square': sq,
          'game_over': s.is_game_over()
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (!game_over() && this_player != s.current_player) {
            comp_move();
          }
        },
        error: function(error){
          console.error(error.responseText);
        }
      });
    }

    vs.click_handler = send_move;

    function comp_move() {
      setTimeout(function() {
        let sq = COMP_STRATEGIES['{{ comp_strategy }}'](s);
        s.move_to(sq);
        vs.update_display();
        send_move(sq);
      }, 1000);
    }

    function game_over() {
      // game over, show modal
      if (s.is_game_over()) {
        vs.sheen(1.5);
        document.getElementById('result').innerHTML = (vs.state.current_player == BLACK ? "White" : "Black") + " Wins!";
        document.getElementById('game-over').style.display = "block";
        document.getElementById('game-over').style.opacity = 1;
        return true;
      }
      return false;
    }

  </script>



</html>
