<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sedario | Game</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">


    <script src="../static/js/sedario.js"></script>
  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel dark">
            <div class="panel-body text-center" id="canvas-container"></div>
            <div class="panel dark" id="game-over" style="display: none; position: absolute; top: calc(50% - 95px); left: calc(50% - 145px); opacity: 0; transition: 2s; box-shadow: 0px 0px 40px 5px black">
                <div class="panel-heading">
                  <h3 class="text-center" id="result"></h3>
                </div>
                <div class="panel-body">
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-6 text-center">
                      <button class="btn btn-lg btn-success" style="font-size: 1.5em;" onclick="rematch()">Rematch</button>
                    </div>
                    <div class="col-xs-6 text-center">
                      <button class="btn btn-lg btn-info" style="font-size: 1.5em;" onclick="location.href='/review/{{ game.id }}'">Review</button>
                    </div>
                  </div>
                  <p id="rematch-feedback" style="margin-top: 15px; margin-bottom: 0px;"></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center" style="margin:10px;">
                <span style="background-color: white; padding: 5px; border-radius: 5px; color: var(--dark)">{{ game.white }}</span>
                - vs -
                <span style="background-color: black; padding: 5px; border-radius: 5px;">{{ game.black }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>

    </div>


    {{ footer|safe }}

  </body>


  <script>

    var s, vs;

    function set_screen(combo_moves) {
      s = new State(8);
      s.set_from_combo_moves(combo_moves);
      vs = new ViewState(s, {% if game.white == user.username %}WHITE{% else %}BLACK{% endif %});
      let cont = document.getElementById('canvas-container');
      while (cont.hasChildNodes()) {
        cont.removeChild(cont.childNodes[0]);
      }
      cont.appendChild(vs.get_DOM());
      vs.update_display();
      vs.click_handler = function(sq) {
        s._find_possible_moves();
        $.ajax({
          url: '/game_access',
          data: {
            'method': 'move_h',
            'id':'{{ game.id }}',
            'square': sq,
            'game_over': s.is_game_over()
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            // if this player didn't move last
            if (vs.is_current_player()) {
              update();
            }
          },
          error: function(error){
            console.error(error.responseText);
          }
        });
      }
    }


    function update() {
      $.ajax({
        url: '/game_access',
        data: {
          'method': 'get',
          'id':'{{ game.id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          // if not the first time, or different
          if (!s || response.length != s.moves[WHITE].length + s.moves[BLACK].length) {
            set_screen(response);
          }
          // game over, show modal
          if (s.is_game_over()) {
            vs.sheen(1.5);
            document.getElementById('result').innerHTML = vs.is_current_player() ? "You Lose :(" : "You Win!";
            document.getElementById('game-over').style.display = "block";
            document.getElementById('game-over').style.opacity = 1;
          }
        },
        error: function(error){
          console.error(error);
        }
      });
    }


    // join game
    socket.emit('join game', {id:'{{ game.id }}'});

    update();
    // changes to board play
    socket.on('update game', function(msg) {
      update();
    });


    function rematch() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'challenge',
          'username': {{ user.username|tojson }},
          'c_username': {{ opponent|tojson }},
          'rated': {{game.rated|tojson}}
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          document.getElementById('rematch-feedback').innerHTML = 'Challenge successful!';
        },
        error: function(error) {
          document.getElementById('rematch-feedback').innerHTML = error.responseText;
          console.error(error.responseText);
        },
      });
    }



  </script>



</html>
