<!DOCTYPE html>
<html>
  <head>
    <title>Sedario | Play</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    <style>

    </style>

  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel dark">
            <div class="panel-heading">
              <h1 class="text-center">Play a Game</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Play a Friend</h3>
            </div>
            <div class="panel-body">
              {% if friends == [] %}
              <p>Big sad! You have no friends :/</p>
              {% else %}
              <div class="form-group">
                <label for="choosen-friend">Choose a Friend:</label>
                <select class="form-control" id="choosen-friend">
                  {% for user in friends %}
                  <option value="{{ user.username }}">{{ user.username }}</option>
                  {% endfor %}
                </select>
                <div class="checkbox">
                  <label><input id="rated" type="checkbox" value="rated">Rated</label>
                </div>
              </div>
              <button class="btn btn-success btn-block" onclick="challenge_friend()">Challenge!</button>
              <p id="challenge-feedback" style="margin-top: 1em;"></p>
              <script>
              function challenge_friend() {
                let sel = document.getElementById('choosen-friend');
                let c_username = sel.options[sel.selectedIndex].value;
                let rated = document.getElementById('rated').checked;
                $.ajax({
                  url: '/user_access',
                  data: {
                    'method': 'challenge',
                    'username': {{ s_user.username|tojson }},
                    'c_username': c_username,
                    'rated': rated
                  },
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    document.getElementById('challenge-feedback').innerHTML = 'Challenge successful!';
                  },
                  error: function(error) {
                    document.getElementById('challenge-feedback').innerHTML = error.responseText;
                    console.log(error.responseText);
                  },
                });
              }
              </script>
              {% endif %}
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Play Online Players</h3>
            </div>
            <div class="panel-body">
              <p id="no-recent-players">There are no recent players</p>
              <div id="recent-form" class="form-group" style="display: none">
                <label for="choosen-recent">Choose a Recent Player:</label>
                <select class="form-control" id="choosen-recent"></select>
                <div class="checkbox">
                  <label><input id="rated-2" type="checkbox" value="rated">Rated</label>
                </div>
                <button class="btn btn-success btn-block" onclick="challenge_recent()">Challenge!</button>
              </div>
              <p id="challenge-feedback-2" style="margin-top: 1em;"></p>
              <script>

              function load_recents() {
                $.ajax({
                  url: '/sys_access',
                  data: {
                    'method': 'recent_players',
                  },
                  type: 'POST',
                  cache: false,
                  success: function(recents) {
                    console.log(recents);
                    if (recents.length == 0) {
                      document.getElementById('no-recent-players').style.display = "block";
                      document.getElementById('recent-form').style.display = "none";
                    } else {
                      document.getElementById('no-recent-players').style.display = "none";
                      document.getElementById('recent-form').style.display = "block";
                      let recents_dom = document.getElementById('choosen-recent');
                      while (recents_dom.firstChild) {
                        recents_dom.removeChild(recents_dom.lastChild);
                      }
                      for (let i = 0; i < recents.length; i++) {
                        console.log(recents[i][0]);
                        let option = document.createElement('option');
                        option.value = recents[i][0];
                        option.innerHTML = recents[i][0] + " (" + recents[i][1] + " min ago)";
                        recents_dom.appendChild(option);
                      }
                    }
                  },
                  error: function(error) {
                    console.log(error.responseText);
                  },
                });
              }
              load_recents();
              setInterval(load_recents, 60000);

              function challenge_recent() {
                let sel = document.getElementById('choosen-recent');
                let c_username = sel.options[sel.selectedIndex].text;
                let rated = document.getElementById('rated-2').checked;
                $.ajax({
                  url: '/user_access',
                  data: {
                    'method': 'challenge',
                    'username': {{ s_user.username|tojson }},
                    'c_username': c_username,
                    'rated': rated
                  },
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    document.getElementById('challenge-feedback-2').innerHTML = 'Challenge successful!';
                  },
                  error: function(error) {
                    document.getElementById('challenge-feedback-2').innerHTML = error.responseText;
                    console.log(error.responseText);
                  },
                });
              }
              </script>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Play a Computer</h3>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Pass and Play</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ footer|safe }}

  </body>
</html>
