<!DOCTYPE html>
<html>
  <head>
    <title>Sedario | Play</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    <style>

    </style>

  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel dark">
            <div class="panel-heading">
              <h1 class="text-center">Play a Game</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Play a Friend</h3>
            </div>
            <div class="panel-body">
              {% if friends == [] %}
              <p>Big sad! You have no friends :/</p>
              {% else %}
              <div class="form-group">
                <label for="choosen-friend">Choose a Friend:</label>
                <select class="form-control" id="choosen-friend">
                  {% for user in friends %}
                  <option value="{{ user.username }}">{{ user.username }}</option>
                  {% endfor %}
                </select>
                <div class="checkbox">
                  <label><input id="rated" type="checkbox" value="rated">Rated</label>
                </div>
              </div>
              <button class="btn btn-success btn-block"onclick="challenge()">Challenge!</button>
              <p id="challenge-feedback" style="margin-top: 1em;"></p>
              <script>
              function challenge() {
                let sel = document.getElementById('choosen-friend');
                let c_username = sel.options[sel.selectedIndex].text;
                let rated = document.getElementById('rated').checked;
                $.ajax({
                  url: '/user_access',
                  data: {
                    'method': 'challenge',
                    'username': {{ s_user.username|tojson }},
                    'c_username': c_username,
                    'rated': rated
                  },
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    document.getElementById('challenge-feedback').innerHTML = 'Challenge successful!';
                  },
                  error: function(error) {
                    document.getElementById('challenge-feedback').innerHTML = error.responseText;
                    console.log(error.responseText);
                  },
                });
              }
              </script>
              {% endif %}
              <!-- <br>
              <button class="btn btn-default center-block">
                Challenge Recent Players
              </button> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Play a Computer</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Pass and Play</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ footer|safe }}

  </body>
</html>
