<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sedario | Game</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">


    <script src="../static/js/sedario.js"></script>
  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">
                <span style="background-color: white; padding: 5px; border-radius: 5px; color: var(--dark)">{{ game.white }}</span>
                - vs -
                <span style="background-color: black; padding: 5px; border-radius: 5px;">{{ game.black }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <div class="panel dark">
            <div class="panel-body text-center" id="canvas-container">
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="panel dark">
            <div class="panel-body" id="side-container">
            </div>
          </div>
        </div>
      </div>


    </div>

    {{ footer|safe }}

  </body>


  <script>

    var rs;

    function set_screen(L, stack, combo_moves) {
      rs = new ReviewState(8, L, stack, combo_moves);
      let canvas_cont = document.getElementById('canvas-container');
      canvas_cont.innerHTML =  "";
      canvas_cont.appendChild(rs.vs.get_DOM());
      let side_cont = document.getElementById('side-container');
      side_cont.innerHTML =  "";
      side_cont.appendChild(rs.get_side_bar_stack());
      rs.vs.update_display();
      rs.vs.click_handler = function(sq) {
        $.ajax({
          url: '/game_access',
          data: {
            'method': 'move',
            'id': '{{ game.id }}',
            'square': sq,
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            update_review(); // this will "double" update canvas :/ oh well
          },
          error: function(error){
            console.error(error.responseText);
          }
        });
      }
      rs.button_click_handler = function (i, method) {
        $.ajax({
          url: '/game_access',
          data: {
            'method': method,
            'id': '{{ game.id }}',
            'i': i
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            update_review();
          },
          error: function(error){
            console.error(error.responseText);
          }
        });
      }
    }


    function update_review() {
      $.ajax({
        url: '/game_access',
        data: {
          'method': 'get_review_data',
          'id': '{{ game.id }}'
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          set_screen(response.L, JSON.parse(response.stack), JSON.parse(response.combo_moves));
        },
        error: function(error){
          console.error(error);
        }
      });
    }

    // join game
    socket.emit('join game', {id:'{{ game.id }}'});

    update_review();
    // changes to board review
    socket.on('update review', function(msg) {
      update_review();
    });


  </script>



</html>
