<!DOCTYPE html>
<html>
  <head>
    <title>Sedario | User {{username}}</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    <style>

      .prof-pic {
        max-width: 100%;
        background-color: white;
        border-radius: 50%;
      }

    </style>

  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="jumbotron dark" style="margin-top: 50px">
        <div class="row">
          <div class="col-xs-3">
            <div class="prof-pic">
              <img src="https://robohash.org/{{ user.username }}.png?size=200x200&set=set3" class="prof-pic">
            </div>
          </div>
          <div class="col-xs-9">
            <h1>{{ user.username }}</h1>
            <p class="lead">
              <span class="soft">ELO:</span> {{ user.elo }} | <span class="soft">Rank:</span> {{ user.rank or 'pending' }}
            </p>
            <button class="btn btn-default" data-toggle="modal" data-target="#accountmodal">
              <span class="glyphicon glyphicon-cog" style="color: var(--dark)"></span>
              Account Settings
            </button>
            <button type="button" class="btn btn-danger" onclick="logout()">
              Log Out
              <span class="glyphicon glyphicon-log-out"></span>
            </button>
            <script>
              function logout() {
                $.ajax({
                  url: '/logout',
                  data: {},
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    window.location.href = '/';
                  },
                  error: function(error) {
                    console.log(error.responseText);
                  },
                });
              }
              function save_account_settings() {
                let public_account = document.getElementById('public').checked;
                $.ajax({
                  url: '/user_access',
                  data: {
                    'username':{{ user.username|tojson }},
                    'method':'save_account_settings',
                    'public': public_account
                  },
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    location.reload(true);
                  },
                  error: function(error) {
                    console.log(error.responseText);
                  },
                });
              }
            </script>
          </div>
        </div>
      </div>
    </div>

    <!-- account Modal -->
    <div id="accountmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Account Settings</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
              <label><input id="public" type="checkbox" value="public" {% if user.public %} checked {% endif %}>Public Account</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" onclick="save_account_settings()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button class="btn btn-success btn-lg btn-block center-block" onclick="window.location.href='/play'">
            New Game
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Challenges</h3>
            </div>
            <div class="panel-body">
              {% if challenges == [] %}
              <p>You have no challenges</p>
              {% else %}
              <ul class="list-group dark">
                {% for c_user in challenges %}
                <li class="list-group-item dark">
                  <a href="/user/{{ c_user }}">{{ c_user }}</a> <span class="badge">{{ c_user.elo }}</span>
                  <button style="float:right; margin-top: -0.33em;" class="btn btn-sm btn-danger" onclick='deny_challenge({{ c_user|tojson }})'>Deny</button>
                  <button style="float:right; margin-top: -0.33em; margin-right: 10px;" class="btn btn-sm btn-success" onclick='accept_challenge({{ c_user|tojson }})'>Accept</button>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <script>
                function accept_challenge(c_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'accept_challenge',
                      'username': {{ user.username|tojson }},
                      'c_username': c_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
                function deny_challenge(c_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'deny_challenge',
                      'username': {{ user.username|tojson }},
                      'c_username': c_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
              </script>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Current Games</h3>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Past Games</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Friend Requests</h3>
            </div>
            <div class="panel-body">
              {% if friend_requests == [] %}
              <p>You have no friend requests</p>
              {% else %}
              <ul class="list-group dark">
                {% for r_user in friend_requests %}
                <li class="list-group-item dark">
                  <a href="/user/{{ r_user }}">{{ r_user }}</a> <span class="badge">{{ r_user.elo }}</span>
                  <button style="float:right; margin-top: -0.33em;" class="btn btn-sm btn-danger" onclick='deny_friend_request({{ r_user|tojson }})'>Deny</button>
                  <button style="float:right; margin-top: -0.33em; margin-right: 10px;" class="btn btn-sm btn-success" onclick='accept_friend_request({{ r_user|tojson }})'>Accept</button>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <script>
                function accept_friend_request(a_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'accept_friend_request',
                      'username': {{ user.username|tojson }},
                      'a_username': a_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
                function deny_friend_request(d_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'deny_friend_request',
                      'username': {{ user.username|tojson }},
                      'd_username': d_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
              </script>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Friends</h3>
            </div>
            <div class="panel-body">
              {% if friends == [] %}
              <p>You have no friends :/</p>
              {% else %}
              <ul class="list-group dark">
                {% for f_user in friends %}
                <li class="list-group-item dark">
                  <a href="/user/{{ f_user }}">{{ f_user }}</a> <span class="badge">{{ f_user.elo }}</span>
                  <button style="float:right; margin-top: -0.33em;" class="btn btn-sm btn-danger" onclick='remove_friend({{ f_user|tojson }})'>Remove</button>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <script>
                function remove_friend(f_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'remove_friend',
                      'username': {{ user.username|tojson }},
                      'f_username': f_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
              </script>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Request Friends</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input id="r_username" class="form-control dark" placeholder="username" type="text" oninput="this.value = this.value.split('').map(x=>'1234567890qwertyuiopasdfghjklzxcvbnm'.includes(x) ? x : '').join('')">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" style="border: 1px solid var(--light)" onclick='request_friend()'>Request</button>
                </span>
              </div>
              <p id="request-feedback" style="margin-top: 1em;">&nbsp;</p>
              <script>
                function request_friend(r_username) {
                  let r_user = document.getElementById('r_username').value;
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'request_friend',
                      'username': {{ user.username|tojson }},
                      'r_username': r_user
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      document.getElementById('request-feedback').innerHTML = r_user + ' requested successfully!';
                      document.getElementById('r_username').value = "";
                    },
                    error: function(error) {
                      document.getElementById('request-feedback').innerHTML = error.responseText;
                      console.log(error.responseText);
                    },
                  });
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ footer|safe }}

  </body>


</html>






















<!-- change password Modal -->
<!-- <div id="change-password-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="current-password" type="password" class="form-control change-password" placeholder="current password"/>
        </div>
        <br>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="new-password" type="password" class="form-control change-password" placeholder="new password"/>
        </div>
        <div class="input-group" style="margin-top: 20px;">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-asterisk"></span>
          </span>
          <input id="confirm-new-password" type="password" class="form-control change-password" placeholder="confirm new password"/>
        </div>
        <br>
        <p id="change-password-error" style="color:red;">&nbsp;</p>
        <button class="btn btn-primary center-block" onclick="change_password()">Change Password</button>
      </div>
    </div>
  </div>
</div>

<script>

    function logout() {
      $.ajax({
        url: '/logout',
        data: {},
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.success == 'true') {
            window.location.href = '/';
          } else {
            console.log(response.error);
          }
        },
        error: function(error) {
          console.log(error.statusText);
        },
      });
    }

</script>


    function change_password() {
      const current_password = document.getElementById('current-password').value;
      const new_password = document.getElementById('new-password').value;
      const confirm_new_password = document.getElementById('confirm-new-password').value;
      if (new_password != confirm_new_password) {
        document.getElementById('change-password-error').innerHTML = 'passwords do not match';
      } else {
        document.getElementById('change-password-error').innerHTML = '&nbsp;';
        $.ajax({
          url: '/change_password',
          data: {
            'password':new_password
          },
          type: 'POST',
          cache: false,
          success: function(response) {
            if (response.success == 'true') {
              location.reload(true);
            } else {
              document.getElementById('change-password-error').innerHTML = response.error;
            }
          },
          error: function(error) {
            document.getElementById('change-password-error').innerHTML = error.statusText;
            console.log(error.statusText);
          },
        });
      }
    }

    $(".change-password").on('keyup', function (e) {
      if (e.key === 'Enter' || e.keyCode === 13) {
        change_password();
      }
    }); -->
