<!DOCTYPE html>
<html>
  <head>
    <title>Sedario | User {{username}}</title>
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">

    <style>



    </style>

  </head>
  <body>

    {{ account_bar|safe }}

    <div class="container">
      <div class="jumbotron dark" style="margin-top: 50px">
        <div class="row">
          <div class="col-xs-3">
            <!-- <div class="prof-pic"> -->
              <img src="https://robohash.org/{{ user.username }}.png?size=200x200&set=set3" class="prof-pic">
            <!-- </div> -->
          </div>
          <div class="col-xs-9">
            <h1>{{ user.username }}</h1>
            <p class="lead">
              <span class="soft">ELO:</span> {{ user.elo }} | <span class="soft">Rank:</span> {{ user.rank or 'pending' }}
            </p>
            <button class="btn btn-default" data-toggle="modal" data-target="#accountmodal">
              <span class="glyphicon glyphicon-cog" style="color: var(--dark)"></span>
              Account Settings
            </button>
            <button type="button" class="btn btn-danger" onclick="logout()">
              Log Out
              <span class="glyphicon glyphicon-log-out"></span>
            </button>
            <script>
              function logout() {
                $.ajax({
                  url: '/logout',
                  data: {},
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    window.location.href = '/';
                  },
                  error: function(error) {
                    console.log(error.responseText);
                  },
                });
              }
              function save_account_settings() {
                let public_account = document.getElementById('public').checked;
                $.ajax({
                  url: '/user_access',
                  data: {
                    'username':{{ user.username|tojson }},
                    'method':'save_account_settings',
                    'public': public_account
                  },
                  type: 'POST',
                  cache: false,
                  success: function(response) {
                    location.reload(true);
                  },
                  error: function(error) {
                    console.log(error.responseText);
                  },
                });
              }
            </script>
          </div>
        </div>
      </div>
    </div>

    <!-- account Modal -->
    <div id="accountmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Account Settings</h4>
          </div>
          <div class="modal-body">
            <div class="checkbox">
              <label><input id="public" type="checkbox" value="public" {% if user.public %} checked {% endif %}>Public Account*</label><br>
              <span class="small">(*Public accounts show up on the "recent players" list.)</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" onclick="save_account_settings()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button class="btn btn-success btn-lg btn-block center-block" onclick="window.location.href='/play'">
            New Game
          </button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 id="challenges" class="text-center">Challenges <span id="num-challenges" class="badge" style="background-color: var(--orange)"></span></h3>
            </div>
            <div class="panel-body">
              <p id="no-challenges">You have no challenges</p>
              <ul id="challenges-list" class="list-group dark"></ul>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 id="current-games" class="text-center">Current Games</h3>
              <div class="panel-body">
                <p id="no-current-games">You have no current games</p>
                <ul id="current-games-list" class="list-group dark"></ul>
              </div>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 id="past-games" class="text-center">Past Games</h3>
            </div>
            <div class="panel-body">
              <p id="no-past-games">You have no past games</p>
              <ul id="past-games-list" class="list-group dark"></ul>
              <button id="view-more-past-games" class="btn btn-success btn-block" data-toggle="modal" data-target="#more-past-games-modal">View More</button>
              <div id="more-past-games-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Past Games</h4>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group dark" id="all-past-games-list" style="max-height: 400px; overflow: hidden; overflow-y: scroll;"></ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel dark">
            <div class="panel-heading">
              <h3 id="friend-requests" class="text-center">Friend Requests <span id="num-friend-requests" class="badge" style="background-color: var(--orange)"></span></h3>
            </div>
            <div class="panel-body">
              <p id="no-friend-requests">You have no friend requests</p>
              <ul id="friend-requests-list" class="list-group dark"></ul>
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 id="friends" class="text-center">Friends</h3>
            </div>
            <div class="panel-body">
              <p id="no-friends">You have no friends :/</p>
              <ul id="friends-list" class="list-group dark"></ul>
              <!-- <script>
                function remove_friend(f_username) {
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'remove_friend',
                      'username': {{ user.username|tojson }},
                      'f_username': f_username
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      location.reload(true)
                    },
                    error: function(error) {
                      console.log(error.responseText);
                    },
                  });
                }
              </script> -->
            </div>
          </div>
          <div class="panel dark">
            <div class="panel-heading">
              <h3 class="text-center">Request Friends</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <input id="r_username" class="form-control dark" placeholder="username" type="text" oninput="this.value = alphanum(this.value);">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" style="border: 1px solid var(--light)" onclick='request_friend()'>Request</button>
                </span>
              </div>
              <p id="request-feedback" style="margin-top: 1em;">&nbsp;</p>
              <script>
                function request_friend(r_username) {
                  let r_user = document.getElementById('r_username').value;
                  $.ajax({
                    url: '/user_access',
                    data: {
                      'method': 'request_friend',
                      'username': {{ user.username|tojson }},
                      'r_username': r_user
                    },
                    type: 'POST',
                    cache: false,
                    success: function(response) {
                      document.getElementById('request-feedback').innerHTML = r_user + ' requested successfully!';
                      document.getElementById('r_username').value = "";
                    },
                    error: function(error) {
                      document.getElementById('request-feedback').innerHTML = error.responseText;
                      console.log(error.responseText);
                    },
                  });
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ footer|safe }}

  </body>


  <script>

    function accept_friend_request(a_username) {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'accept_friend_request',
          'username': {{ user.username|tojson }},
          'a_username': a_username
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          location.reload(true);
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }
    function deny_friend_request(d_username) {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'deny_friend_request',
          'username': {{ user.username|tojson }},
          'd_username': d_username
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          location.reload(true)
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }

    function get_friend_requests() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'get_friend_requests',
          'username': {{ user.username|tojson }},
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.length == 0) {
            document.getElementById('no-friend-requests').style.display = 'block';
            document.getElementById('friend-requests-list').style.display = 'none';
          } else {
            let num = document.getElementById('num-friend-requests');
            num.style.display = "inline";
            num.innerHTML = Number(num.innerHTML || 0) + response.length;

            document.getElementById('no-friend-requests').style.display = 'none';
            document.getElementById('friend-requests-list').style.display = 'block';
            document.getElementById('friend-requests-list').innerHTML = '';
            for (let i = 0; i < response.length; i++) {
              let li = document.createElement('li');
              li.classList.add('list-group-item', 'dark');
              let a = document.createElement('a');
              a.href = "/user/" + response[i];
              a.innerHTML = response[i];
              let deny = document.createElement('button');
              deny.classList.add('btn', 'btn-sm', 'btn-danger', 'li-btn');
              const u = response[i];
              deny.onclick = function() {
                deny_friend_request(u);
              }
              deny.innerHTML = "Deny";
              let accept = document.createElement('button');
              accept.classList.add('btn', 'btn-sm', 'btn-success', 'li-btn');
              accept.onclick = function() {
                accept_friend_request(u);
              }
              accept.innerHTML = "Accept";
              li.appendChild(a);
              li.appendChild(deny);
              li.appendChild(accept);
              document.getElementById('friend-requests-list').appendChild(li);
            }
          }
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }

    get_friend_requests();
    socket.on('update friend requests', function() {
      get_friend_requests();
    })

    function get_friends() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'get_friends',
          'username': {{ user.username|tojson }},
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.length == 0) {
            document.getElementById('no-friends').style.display = 'block';
            document.getElementById('friends-list').style.display = 'none';
          } else {
            document.getElementById('no-friends').style.display = 'none';
            document.getElementById('friends-list').style.display = 'block';
            document.getElementById('friends-list').innerHTML = '';
            for (let i = 0; i < response.length; i++) {
              let li = document.createElement('li');
              li.classList.add('list-group-item', 'dark');
              let a = document.createElement('a');
              a.href = "/user/" + response[i][0];
              a.innerHTML = response[i][0];
              let elo = document.createElement('span');
              elo.classList.add('badge');
              elo.innerHTML = response[i][1];
              li.appendChild(a);
              li.appendChild(elo);
              document.getElementById('friends-list').appendChild(li);
            }
          }
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }

    get_friends();
    socket.on('update friends', function() {
      get_friends();
    })




    function accept_challenge(c_username) {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'accept_challenge',
          'username': {{ user.username|tojson }},
          'c_username': c_username
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          location.href = response;
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }
    function deny_challenge(c_username) {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'deny_challenge',
          'username': {{ user.username|tojson }},
          'c_username': c_username
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          location.reload(true)
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }

    function get_challenges() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'get_challenges',
          'username': {{ user.username|tojson }},
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.length == 0) {
            document.getElementById('no-challenges').style.display = 'block';
            document.getElementById('challenges-list').style.display = 'none';
          } else {
            let num = document.getElementById('num-challenges');
            num.style.display = "inline";
            num.innerHTML = Number(num.innerHTML || 0) + response.length;

            document.getElementById('no-challenges').style.display = 'none';
            document.getElementById('challenges-list').style.display = 'block';
            document.getElementById('challenges-list').innerHTML = '';

            for (let i = 0; i < response.length; i++) {
              let li = document.createElement('li');
              li.classList.add('list-group-item', 'dark');
              let a = document.createElement('a');
              a.href = "/user/" + response[i][0];
              a.innerHTML = response[i][0];
              let deny = document.createElement('button');
              deny.classList.add('btn', 'btn-sm', 'btn-danger', 'li-btn');
              const u = response[i][0];
              deny.onclick = function() {
                deny_challenge(u);
              }
              deny.innerHTML = "Deny";
              let accept = document.createElement('button');
              accept.classList.add('btn', 'btn-sm', 'btn-success', 'li-btn');
              accept.onclick = function() {
                accept_challenge(u);
              }
              accept.innerHTML = "Accept";
              li.appendChild(a);
              li.appendChild(document.createTextNode(' (' + (response[i][1] ? '' : 'un') + 'rated)'));
              li.appendChild(deny);
              li.appendChild(accept);
              document.getElementById('challenges-list').appendChild(li);
            }
          }
        },
        error: function(error) {
          console.log(error.responseText);
        },
      });
    }

    get_challenges();
    socket.on('update challenges', function() {
      get_challenges();
    })


    function get_current_games() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'get_current_games',
          'username': {{ user.username|tojson }},
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.length == 0) {
            document.getElementById('no-current-games').style.display = 'block';
            document.getElementById('current-games-list').style.display = 'none';
          } else {
            document.getElementById('no-current-games').style.display = 'none';
            document.getElementById('current-games-list').style.display = 'block';
            document.getElementById('current-games-list').innerHTML = '';

            for (let i = 0; i < response.length; i++) {
              let li = document.createElement('li');
              li.classList.add('list-group-item', 'dark');
              let a = document.createElement('a');
              a.href = "/user/" + response[i][0];
              a.innerHTML = response[i][0];
              let play = document.createElement('button');
              play.classList.add('btn', 'btn-sm', 'btn-success', 'li-btn');
              play.onclick = function() {
                location.href = "/game/" + response[i][1];
              }
              play.innerHTML = "Play";
              li.appendChild(a);
              li.appendChild(document.createTextNode(' (game #' + (response[i][1] + ')')));
              li.appendChild(play);
              document.getElementById('current-games-list').appendChild(li);
            }
          }
        },
        error: function(error) {
          console.error(error.responseText);
        },
      });
    }

    get_current_games();
    socket.on('update current games', function() {
      get_current_games();
    });

    function get_past_games() {
      $.ajax({
        url: '/user_access',
        data: {
          'method': 'get_past_games',
          'username': {{ user.username|tojson }},
        },
        type: 'POST',
        cache: false,
        success: function(response) {
          if (response.length == 0) {
            document.getElementById('no-past-games').style.display = 'block';
            document.getElementById('past-games-list').style.display = 'none';
            document.getElementById('view-more-past-games').style.display = 'none';
          } else {
            document.getElementById('no-past-games').style.display = 'none';
            document.getElementById('past-games-list').style.display = 'block';
            document.getElementById('view-more-past-games').style.display = 'block';
            document.getElementById('past-games-list').innerHTML = '';

            for (let i = 0; i < response.length; i++) {
              let li1 = document.createElement('li');
              li1.classList.add('list-group-item', 'dark');

              li1.appendChild(document.createTextNode(response[i][2] == '{{ user.username }}' ? "(W) " : "(L) "));

              let a;
              if (response[i][0].startsWith('COMP@')) {
                li1.appendChild(document.createTextNode("COMP"));
              } else {
                a = document.createElement('a');
                a.href = "/user/" + response[i][0];
                a.innerHTML = response[i][0];
                li1.appendChild(a);
              }

              let review = document.createElement('button');
              review.classList.add('btn', 'btn-sm', 'btn-success', 'li-btn');
              review.onclick = function() {
                location.href = "/game/" + response[i][1];
              }
              review.innerHTML = "Review";

              li1.appendChild(document.createTextNode(' (game #' + (response[i][1] + ')')));
              li1.appendChild(review);

              if (i < 5) {
                li2 = li1.cloneNode();
                li2.appendChild(document.createTextNode(response[i][2] == '{{ user.username }}' ? "(W) " : "(L) "));
                if (response[i][0].startsWith('COMP@')) {
                  li2.appendChild(document.createTextNode("COMP"));
                } else {
                  li2.appendChild(a.cloneNode(true));
                }
                li2.appendChild(document.createTextNode(' (game #' + (response[i][1] + ')')));
                let review2 = review.cloneNode(true);
                review2.onclick = function() {
                  location.href = "/game/" + response[i][1];
                }
                li2.appendChild(review2);
                document.getElementById('past-games-list').appendChild(li2);
              }
              document.getElementById('all-past-games-list').appendChild(li1);
            }
          }
        },
        error: function(error) {
          console.error(error.responseText);
        },
      });
    }

    get_past_games();
    socket.on('update past games', function() {
      get_past_games();
    })




  </script>

</html>
